# Datos para PostgreSQL
DATABASE_URL=#URL de la DB PostgreSQL

DB_USER=#Usuario de la DB
DB_PASSWORD=#Contraseña de la DB
DB_NAME=#Nombre de la DB

# Datos para autenticacion JWT (auth.py)
SECRET_KEY=#Contraseñasupersegura
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30